<div id="container">
	<div class="table">
		<h1>
			Rooms
		</h1>
		number: <%= @rooms_first.number %>
		<br>
		floor: <%= @rooms_first.floor %>
		<br>
		suite: <%= @rooms_first.suite %>
	</div>
	<div class="link">
		<a class="foot" href="/">[Back]</a>
	</div>
</div>